*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: #f6f6f8;
    margin-bottom: 20px;
}

a{
    text-decoration: none !important;
    
}
#header a{
    margin-right: 10px !important;
    color: #878787;
}
#header2 .box{
    display:flex !important;
    justify-content: space-between !important;
    align-items: center;
}
#header2 .box a{
   color: #212529; 
}
#header2 .botbox{
    align-items: center; 
}
#header2 .botbox i{
    margin-right: 10px !important;
}
#Slider{
    text-align: center;
    align-items: center;
    padding: 20rem 0;  
    position: relative;
    z-index: 1;
    background-image: url(	https://wp.the4.co/kalles/wp-content/uploads/2021/07/slideshow_image.jpg);
}
#Slider img{
width: 100%;
background-size: cover;
}
#Slider p{
    color: white;
}
#Slider h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
}
#Slider a{
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
}
.overlay{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #02010133;
    z-index: -1;
}
#products{
    margin-top: 50px;
}
.probox img{
    width: 100%;
    transition: 0.7s;
    
}
.probox{
    position: relative;
    overflow: hidden;
}
.probox a{
    position: absolute;
    border: 1px solid gray;
    top: 80%;
    left: 35%;
    padding: 5px 35px;
    background-color: aliceblue;
    color: gray;
    
}
.probox:hover img{
    transform: scale(1.2);
}
.txt{
    position: absolute;
    left: 10px;
    bottom: 0;
}